<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataAccess.Properties.Settings.baseConnectionString"
            connectionString="Data Source=s02.winhost.com;Initial Catalog=DB_2354_ssa;Persist Security Info=True;User ID=DB_2354_ssa_user;Password=compartido1695"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>