<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PruebaDatos.Properties.Settings.CineSAPDB" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\CineSAP.mdf;User Instance=True;Integrated Security=True;"
            providerName="System.Data.SqlClient" />
        <add name="DataAccess.Properties.Settings.CineSAPDB" connectionString="Data Source=s02.winhost.com;Initial Catalog=DB_2354_ssa;User ID=DB_2354_ssa_user;Password=compartido1695"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>